*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px dotted red; */
  font-family: sans-serif;
}

body, html {
  height: 100%;
}


body{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(images/hero-image.jpg);
}

/*header*/ /*header*/ /*header*/ /*header*/ /*header*/

header{
  width: 100%;
  height: 80px;
  display: flex;
}

nav{
  width: 70%;
  height: inherit;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  width: 30%;
  height: inherit;
  display: flex;
}

i{
  color: rgb(6, 60, 211);
  margin-top: 20px;
  margin-left: 280px;
}
.logo p {
  margin-top: 20px;
  margin-left: 8px;
}

#Dropbox{
color: black;
font-size: 30px;
font-weight: 700;
}

#Business{
  color: rgb(6, 60, 211);
  font-size: 30px;
}

.nav_item{
  font-size: 18px;
  text-decoration: none;
  color: black;
  margin-right: 50px;
  position: relative;
  top: -2px;
}

a .nav_item:active, /* активная/посещенная ссылка */
a .nav_item:hover,  /* при наведении */
a .nav_item {
  text-decoration: none;
  color: rgb(63, 63, 63);
}

nav :last-child {
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  padding: 5px 18px;
  position: absolute;
  top: 50px;
  right: 213px;
  color: rgb(6, 60, 211);
}

.nav_item:nth-child(4):after, .nav_item:nth-child(5):after  {
margin-left: 5px;
color: black;
content: "v";
font-size: 17px;
}

/*header*/ /*header*/ /*header*/ /*header*/ /*header*/



/*main*/ /*main*/ /*main*/ /*main*/ /*main*/ /*main*/
article{
  height: 572px;
  width: 472px;
  display: block;
  margin-top: 130px;
  margin-left: 280px;
}

.hero_header{
font-size: 47px;
/* color: #47525D; */
box-sizing: content-box;
line-height: 61.425px;
margin-bottom: 20px;
}

.hero-sub_header{
  font-size: 21px;
  box-sizing: content-box;
  line-height: 31.5px;
  margin-top: 30px;
  text-align: left;
  padding-bottom: 20px;
}

button{
  height: 59px;
  width: 375px;
  font-size: 21px;
  text-align: center;
  cursor: pointer;
  background-color: rgb(6, 60, 211);
  color: white;
  border: none;
  border-radius: 6px;
}

.btn_all{
  margin-top: 30px;

}

.btn_sec{
  width: 375px;
}

.btn_sub{
  display: block;
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
}




/*main*/ /*main*/ /*main*/ /*main*/ /*main*/ /*main*/
